header{
background-image:linear-gradient(to bottom right,#1D4267,#2B81D7);
color:white;
margin: 0px;
height:250px;



}

header h1,h4{
  font-family: monospace;
  padding-left: 20px;
  text-align: center;


}



.image{
  margin: auto;
  display: inline-flex;
  padding-left: 20px;
  width:150px;
  height: 150px;
  display:block;
}





.content{
  width: 880px;
}

p,li{
  font-family: monospace;
}

h2, h3{
  font-family: monospace;
  font-style:oblique;
  font-weight:bold;
}


.aboutMe{
  padding-top: 20px;

}

.projects{
  padding-top: 20px;

}

/* could use a formatted bullit here*/

ol li{
  padding-top: 10px;
}



ul li{
  padding-top: 5px;
}



.myInterests{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
  width:960px;


}

.album{
  height:250px;
  width:220px;
  padding-left: 10px;

}











.contact{
  padding-top: 20px;
  text-align: center;
  font-size: 20px;



}

.btn{
  padding: 10px 15px;
  color:white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;

}
.linked{
    background-color: #3584E8;
}
.git{
background-color: #04080C;

}


a:hover {color: blue;}
